@use "styles/fonts" as *;
@use "styles/colors" as *;

.column {
  min-width: 243px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.title {
  font-family: $font-poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  color: $color-black;
}

.cardsList {
  list-style: none;
  display: grid;
  row-gap: 24px;
}

.card {
  &:last-of-type {
    margin-bottom: 16px;
  }
}

.iconContainer {
  position: relative;
}

.icon {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 24px;
  left: 0;
}
