@use "styles/fonts" as *;

.input {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 100%;
  padding: 10px 15px;
  &::placeholder {
    font-family: $font-poppins;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: #bdbdbd;
  }
}
