@use "styles/colors" as *;

.container {
  padding: 24px 24px 0;
  height: 100%;
}

.boardContainer {
  overflow-x: scroll;
  display: flex;
  gap: 32px;
  background-color: $color-white-lilac;
  border-radius: 24px;
  padding: 28px 24px;
  height: 100%;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  min-width: 243px;
}
