@use "styles/colors" as *;
@use "styles/placeholders/button" as *;
@use "styles/fonts" as *;

.label {
  @extend %button;
  background-color: $color-concrete;
  color: $color-gray;
  &:hover {
    background-color: $color-alto;
    color: $color-white;
  }
}

.fileInput {
  display: none;
}
