@use "styles/fonts" as *;

.container {
  display: grid;
  row-gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: $font-poppins;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
}

.boardsContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  row-gap: 24px;
  justify-content: space-between;
}
